body {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Avenir Next';
    src: url("fonts/AvenirNextLTPro-Regular.otf");
}
span {
    display: block;
    height: 40px;
    width: 100%;
    font-family: 'Avenir';
    letter-spacing: 2px;
}
.bottom {
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: black;
    z-index: 4;
    text-align: right;
}
.main {
    font-size: 7em;
    color: #683391 !important;
    position: absolute;
    top: 35%;
    left: 33vw;
    z-index: 4;
    text-decoration: none;
    font-family: 'Avenir';
    letter-spacing: 2px;
}
.main:hover {
    color: #1E777D !important;
}
.link {
    font-size: 1em;
    color: #B2BEBF;
    margin-right: 8%;
    text-decoration: none;
}
.link:hover {
    color: #D3E9EB;
}
.middle {
    display: block;
    background: white;
    border: 2px solid red;
    z-index: 4;
}
.playlist-title {
    color: white;
    font-size: 5em;
    font-family: 'Avenir';
    letter-spacing: 2px;
    z-index: 4;
}
.albums {
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 18%;
    float: left;
    margin-right: -999em;
    white-space: nowrap;
    overflow: scroll;
    z-index: 4;
}
.albumBin {
    width: 100px;
    height: 300px;
    margin: 30px;
    z-index: 4;
}
.alb1 {
    margin-left: 75px;
}
.textBin {
    display: block;
    background-color: #EEEEEE;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    width: 50vw;
    height: 25vh;
    position: absolute;
    top: 60%;
    left: 45%;
    overflow: scroll;
    z-index: 4;
}
h2 {
    margin-left: 30px;
}
iframe {
    margin-left: 100px;
}
input[type="button"] {
    font-size: 20px;
    position: absolute;
    background-color: #353526;
    color: white;
    width: 15vw;
    height: 6vh;
    letter-spacing: 2px;
    border-radius: 8px
}
.clear {
    top: 87%;
    left: 53%;
    z-index: 4;
}
.submit {
    top: 87%;
    left: 75%;
    z-index: 4;
}
.searchText {
    width: 250px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 13%;
    z-index: 4;
}
.searchButton {
    top: 70%;
    left: 10%;
    width: 25vw;
    z-index: 4;
}
* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(33, 33, 33, 0.9);
    color: #ffffff;
    display: block;
    font: 14px/1.3 Arial, sans-serif;
    height: 50px;
    position: relative;
    z-index: 5;
}
h2 {
    margin-top: 30px;
    text-align: center;
}
header h2 {
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration: none;
    color: #fcfcfc;
}
@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}
.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
}
.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}
.clouds {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index: 3;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

}

}

}

}

}
